<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

	<!-- コンソール出力 -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, %-5level, %logger, %msg in %thread%n</pattern>
		</encoder>
	</appender>

	<!-- アプリケーションログのファイル書き出し -->
	<appender name="APPLIATION_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--ファイル名設定 -->
		<file>/var/log/spring/db-access-node.log</file>
		<!--ログファイルのローテーション設定 -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/db-access-node-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<!--ログ出力フォーマット設定 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, %-5level, %logger, %msg in %thread%n</pattern>
		</encoder>
	</appender>

	<!-- ロガー -->
	<logger name="webform.ms" level="DEBUG">
		<appender-ref ref="APPLIATION_LOG" />
	</logger>

	<!-- ルート -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>